asgiref==3.9.1
certifi==2025.7.14
charset-normalizer==3.4.2
Django==5.2.4
django-modeltranslation==0.19.16
django-rosetta==0.10.2
idna==3.10
pillow==11.3.0
polib==1.2.0
requests==2.32.4
sorl-thumbnail==12.11.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
